html, body{
    color:black;
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    background-color: white;
    margin-left:20px;
    margin-bottom:10px;
    font-size:1em;
}

p {
  margin-left:20%;
  margin-right:20%;
}

.ingredients{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.instructions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin-left:20%;
  margin-right:20%;

}

/*code for flex-container based off of the tutorial linked to in the assignment
https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
#recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.recipeLink{
  color:black;
  display: block;
  padding-top:10px;
  font-size: 1.5em;
}

#instructions{
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration:underline;
}

#ingredients{
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration:underline;
}

.recipePic{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.recipePic img{
    height:320px;
    width:250px;
}

.recipeNameCard{
  text-align: center;
  color:black;
}

.recipeName{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.recipeCard{
  background-color:#d3d3d3;
  margin-top:5px;
  margin-bottom:5px;
  margin-right:10px;
  width:320px;
  height:280px;
}

.recipeCard img{
  height:200px;
  width:200px;
  display:block;
  margin:auto;
}

.source{
  padding-bottom:10px;
}